# Tema de tratamiento de valores NA

In [2]:
data = read.csv("../data/tema1/missing-data.csv", na.string="")

In [12]:
data

   Income Phone_type Car_type
1   89800 Android    Luxury
2   47500 Android    Non-Luxury
3   45000 iPhone     Luxury
4   44700 NA         Luxury
5   59500 iPhone     Luxury
6      NA Android    Non-Luxury
7   63300 iPhone     Non-Luxury
8   52900 Android    Luxury
9   78200 Android    Luxury
10 145100 iPhone     Luxury
11  88600 iPhone     Non-Luxury
12  65600 iPhone     Luxury
13     NA Android    Non-Luxury
14  94600 Android    Luxury
15  59400 iPhone     Luxury
16  47300 iPhone     Non-Luxury
17  72100 NA         Luxury
18      0 iPhone     Non-Luxury
19      0 Android    Luxury
20  83000 iPhone     Luxury
21  64100 Android    Non-Luxury
22  42100 iPhone     Non-Luxury
23      0 iPhone     Luxury
24  91500 iPhone     Non-Luxury
25  51200 Android    Luxury
26  13800 iPhone     Non-Luxury
27  47500 iPhone     Non-Luxury

Para una limpieza total

In [10]:
data_cleaned = na.omit(data)

In [11]:
data_cleaned

   Income Phone_type Car_type
1   89800 Android    Luxury
2   47500 Android    Non-Luxury
3   45000 iPhone     Luxury
5   59500 iPhone     Luxury
7   63300 iPhone     Non-Luxury
8   52900 Android    Luxury
9   78200 Android    Luxury
10 145100 iPhone     Luxury
11  88600 iPhone     Non-Luxury
12  65600 iPhone     Luxury
14  94600 Android    Luxury
15  59400 iPhone     Luxury
16  47300 iPhone     Non-Luxury
18      0 iPhone     Non-Luxury
19      0 Android    Luxury
20  83000 iPhone     Luxury
21  64100 Android    Non-Luxury
22  42100 iPhone     Non-Luxury
23      0 iPhone     Luxury
24  91500 iPhone     Non-Luxury
25  51200 Android    Luxury
26  13800 iPhone     Non-Luxury
27  47500 iPhone     Non-Luxury

para una limpieza selectiva: limpia solo con la condicion especificada

In [15]:
data_income_cleaned = data[!is.na(data$Income),]

In [16]:
data_income_cleaned

   Income Phone_type Car_type
1   89800 Android    Luxury
2   47500 Android    Non-Luxury
3   45000 iPhone     Luxury
4   44700 NA         Luxury
5   59500 iPhone     Luxury
7   63300 iPhone     Non-Luxury
8   52900 Android    Luxury
9   78200 Android    Luxury
10 145100 iPhone     Luxury
11  88600 iPhone     Non-Luxury
12  65600 iPhone     Luxury
14  94600 Android    Luxury
15  59400 iPhone     Luxury
16  47300 iPhone     Non-Luxury
17  72100 NA         Luxury
18      0 iPhone     Non-Luxury
19      0 Android    Luxury
20  83000 iPhone     Luxury
21  64100 Android    Non-Luxury
22  42100 iPhone     Non-Luxury
23      0 iPhone     Luxury
24  91500 iPhone     Non-Luxury
25  51200 Android    Luxury
26  13800 iPhone     Non-Luxury
27  47500 iPhone     Non-Luxury

In [3]:
#otra manera:
data_cleaned_2 = data[complete.cases(data),]
data_cleaned_2

   Income Phone_type Car_type
1   89800 Android    Luxury
2   47500 Android    Non-Luxury
3   45000 iPhone     Luxury
5   59500 iPhone     Luxury
7   63300 iPhone     Non-Luxury
8   52900 Android    Luxury
9   78200 Android    Luxury
10 145100 iPhone     Luxury
11  88600 iPhone     Non-Luxury
12  65600 iPhone     Luxury
14  94600 Android    Luxury
15  59400 iPhone     Luxury
16  47300 iPhone     Non-Luxury
18      0 iPhone     Non-Luxury
19      0 Android    Luxury
20  83000 iPhone     Luxury
21  64100 Android    Non-Luxury
22  42100 iPhone     Non-Luxury
23      0 iPhone     Luxury
24  91500 iPhone     Non-Luxury
25  51200 Android    Luxury
26  13800 iPhone     Non-Luxury
27  47500 iPhone     Non-Luxury

In [5]:
#los valores que tenemos en 0 los podemos convertir a NA asi
data$Income[data$Income == 0] = NA

Medidas de centralizacion y dispersion

### Media (mean)

In [7]:
#Se obtiene un valor NA porque existen valores NA en ese parametro
mean(data$Income)

[1] NA

In [9]:
#se deben omitir estos valores NA para poder obtener una respuesta logica
mean(data$Income, na.rm = TRUE)

[1] 65763.64

### Desviacion estandar (sd)

In [11]:
#Lo mismo sucede con la desviacion estandar, no puede obtener un valor numerico porque existen valores NA
sd(data$Income)

[1] NA

In [12]:
sd(data$Income, na.rm=TRUE)

[1] 26715.87