# Reemplazar valores NA por otros...

In [18]:
data = read.csv("../data/tema1/missing-data.csv", na.strings="")

### Como reemplazar valores NA por el Promedio:

In [12]:
data$Income.mean = ifelse(is.na(data$Income), mean(data$Income, na.rm = TRUE),
                         data$Income
                         )

In [13]:
data

   Income Phone_type Car_type   Income.mean
1   89800 Android    Luxury      89800
2   47500 Android    Non-Luxury  47500
3   45000 iPhone     Luxury      45000
4   44700 NA         Luxury      44700
5   59500 iPhone     Luxury      59500
6      NA Android    Non-Luxury  57872
7   63300 iPhone     Non-Luxury  63300
8   52900 Android    Luxury      52900
9   78200 Android    Luxury      78200
10 145100 iPhone     Luxury     145100
11  88600 iPhone     Non-Luxury  88600
12  65600 iPhone     Luxury      65600
13     NA Android    Non-Luxury  57872
14  94600 Android    Luxury      94600
15  59400 iPhone     Luxury      59400
16  47300 iPhone     Non-Luxury  47300
17  72100 NA         Luxury      72100
18      0 iPhone     Non-Luxury      0
19      0 Android    Luxury          0
20  83000 iPhone     Luxury      83000
21  64100 Android    Non-Luxury  64100
22  42100 iPhone     Non-Luxury  42100
23      0 iPhone     Luxury          0
24  91500 iPhone     Non-Luxury  91500
25  51200 Android    Luxury      51200
26  13800 iPhone     Non-Luxury  13800
27  47500 iPhone     Non-Luxury  47500

### Reemplazar valores por una muestra randomica  
No siempre es valido poner la media de la variable, asi que a veces es posible y valido segun la estadistica poner un valor de una muestra aleatoria tomada de los valores que existen

In [25]:
#x puede ser un vector de datos que puede contener valores NA
rand_impute = function(x) {
    #vector de la misma longitud de x, que posee valores T/F
    missing = is.na(x) 
    #n_missing es la cantidad de valores que tienen datos NA en x
    n_missing = sum(missing)
    #x_obs es lo contrario a missing, son los valores que tienen datos validos diferentes a NA en x
    x_obs = x[!missing]
    #por defecto se devuelve lo mismo que entra por parametro
    imputed = x
    #aqui se hace el reemplazo... los valores que faltan se reemplazan por una muestra aleatoria simple
    #de los datos que son diferentes de NA
    imputed[missing] = sample(x_obs, n_missing, replace = TRUE)
    return(imputed)
}

In [28]:
random_impute_data_frame = function(df, cols){
    names = names(df)
    for(col in cols){
        name = paste(names[col], ".imputed", sep = "")
        df[name] = rand_impute(df[,col])
    }
    return(df)
}

cargando el df en limpio sin ninguna modificacion...

In [20]:
data = read.csv("../data/tema1/missing-data.csv", na.strings="")

In [34]:
#primero cambio los que tienen valor 0 por un NA para que haya un mejor resultado
data$Income[data$Income == 0] = NA
#aplico la funcion creada
data2 = random_impute_data_frame(data, c(1,2))

In [36]:
data2

   Income Phone_type Car_type   Income.imputed Phone_type.imputed
1   89800 Android    Luxury      89800         Android
2   47500 Android    Non-Luxury  47500         Android
3   45000 iPhone     Luxury      45000         iPhone
4   44700 NA         Luxury      44700         iPhone
5   59500 iPhone     Luxury      59500         iPhone
6      NA Android    Non-Luxury 145100         Android
7   63300 iPhone     Non-Luxury  63300         iPhone
8   52900 Android    Luxury      52900         Android
9   78200 Android    Luxury      78200         Android
10 145100 iPhone     Luxury     145100         iPhone
11  88600 iPhone     Non-Luxury  88600         iPhone
12  65600 iPhone     Luxury      65600         iPhone
13     NA Android    Non-Luxury  63300         Android
14  94600 Android    Luxury      94600         Android
15  59400 iPhone     Luxury      59400         iPhone
16  47300 iPhone     Non-Luxury  47300         iPhone
17  72100 NA         Luxury      72100         Android
18     NA iPhone     Non-Luxury  65600         iPhone
19     NA Android    Luxury      72100         Android
20  83000 iPhone     Luxury      83000         iPhone
21  64100 Android    Non-Luxury  64100         Android
22  42100 iPhone     Non-Luxury  42100         iPhone
23     NA iPhone     Luxury      13800         iPhone
24  91500 iPhone     Non-Luxury  91500         iPhone
25  51200 Android    Luxury      51200         Android
26  13800 iPhone     Non-Luxury  13800         iPhone
27  47500 iPhone     Non-Luxury  47500         iPhone